
.time-picker > .arrow-button > .arrow {
    -fx-shape: "M512 310.857v256q0 8-5.143 13.143t-13.143 5.143h-182.857q-8 0-13.143-5.143t-5.143-13.143v-36.571q0-8 5.143-13.143t13.143-5.143h128v-201.143q0-8 5.143-13.143t13.143-5.143h36.571q8 0 13.143 5.143t5.143 13.143zM749.714 512q0-84.571-41.714-156t-113.143-113.143-156-41.714-156 41.714-113.143 113.143-41.714 156 41.714 156 113.143 113.143 156 41.714 156-41.714 113.143-113.143 41.714-156zM877.714 512q0 119.429-58.857 220.286t-159.714 159.714-220.286 58.857-220.286-58.857-159.714-159.714-58.857-220.286 58.857-220.286 159.714-159.714 220.286-58.857 220.286 58.857 159.714 159.714 58.857 220.286z";
    //calendar ico -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    //-fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /*5 5 4 4 */
    -fx-padding: 7 7 7 7; /*5 5 4 4 */
    -fx-scale-shape: true;
}

.time-picker:hover > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.time-picker:showing > .arrow-button {
    -fx-color: -fx-pressed-base;
}

.time-picker > .text-field {
    -fx-padding: 0.166667em 0.416667em 0.25em 0.416667em; /* 2 5 3 5 */
    -fx-background-radius: 4 0 0 4, 3 0 0 3, 2 0 0 2;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 1;
}

.time-picker:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-control-inner-background;
    -fx-background-radius: 5.4, 3, 2;
    -fx-background-insets: -1.4, 0, 1;
}
